_1_Foundation/01_intro_to_python.ipynb
_1_Foundation/02_data_types_and_variables.ipynb
_1_Foundation/03_control_flow.ipynb
_1_Foundation/04_functions.ipynb
_1_Foundation/05_data_structures.ipynb
_1_Foundation/06_file_handling.ipynb
_1_Foundation/07_error_handling.ipynb
_1_Foundation/08_oop_basics.ipynb
_1_Foundation/09_modules_and_libraries.ipynb
_1_Foundation/10_project_ideas.ipynb
.codegpt